/*
!.gitignore
!README.MD 
!docker-compose.yml
!.build.sh
!start.sh
!changeip.sh

!/tftp
/tftp/*
!tftp/Dockerfile
!/tftp/files
/tftp/files/*
!/tftp/files/.tftpserver

!/dnsmasq
/dnsmasq/*
!/dnsmasq/files
/dnsmasq/files/*
!/dnsmasq/files/entrypoint.sh

!/webserver
/webserver/*
!/webserver/files
/webserver/files/*
!/webserver/files/menu.ipxe
!/webserver/files/arch
!/webserver/files/centos

!/webserver/files/clonezilla
/webserver/files/clonezilla/*
!/webserver/files/clonezilla/clonezilla.ipxe

!/webserver/files/debian

!/webserver/files/fedora
/webserver/files/fedora/*
!/webserver/files/fedora/desktop
/webserver/files/fedora/desktop/*
!/webserver/files/fedora/desktop/fedora.ipxe

!/webserver/files/fedora/desktopkde
/webserver/files/fedora/desktopkde/*
!/webserver/files/fedora/desktopkde/fedora.ipxe

!/webserver/files/fedora/installer28
!/webserver/files/fedora/installer29

!/webserver/files/ubuntu

!/webserver/files/winpe
/webserver/files/winpe/*
!/webserver/files/winpe/winpe.ipxe
/webserver/files/winpe/amd64
!/webserver/files/winpe/amd64/*
/webserver/files/winpe/x86
!/webserver/files/winpe/x86/*
